In [19]:
import pandas as pd

In [20]:
# Abrimos los CSV
df_1 = pd.read_csv('../data/exercise_2/raw/Lecturas_parte1.csv')
df_2 = pd.read_csv('../data/exercise_2/raw/Lecturas_parte2.csv')

In [21]:
df_1

                  Fecha CodFronteraDDV    Periodo  Lectura
0       2024-06-01 0:00       Frt34219  periodo01    45.28
1       2024-06-01 0:00       Frt34219  periodo02    51.55
2       2024-06-01 0:00       Frt34219  periodo03    44.51
3       2024-06-01 0:00       Frt34219  periodo04    51.21
4       2024-06-01 0:00       Frt34219  periodo05    48.21
...                 ...            ...        ...      ...
349765  2024-06-16 0:00       Frt31074  periodo14   101.19
349766  2024-06-16 0:00       Frt31074  periodo15   104.39
349767  2024-06-16 0:00       Frt31074  periodo16   100.32
349768  2024-06-16 0:00       Frt31074  periodo17   103.07
349769  2024-06-16 0:00       Frt31074  periodo18   100.86

[349770 rows x 4 columns]

In [22]:
df_2

                  Fecha CodFronteraDDV    Periodo  Lectura
0       2024-06-16 0:00       Frt31074  periodo19   105.35
1       2024-06-16 0:00       Frt31074  periodo20   103.04
2       2024-06-16 0:00       Frt31074  periodo21    92.79
3       2024-06-16 0:00       Frt31074  periodo22    70.55
4       2024-06-16 0:00       Frt31074  periodo23    67.10
...                 ...            ...        ...      ...
349765  2024-06-17 0:00       Frt43098  periodo06   335.82
349766  2024-06-16 0:00       Frt33571  periodo16    26.83
349767  2024-06-22 0:00       Frt31382  periodo01   119.09
349768  2024-06-06 0:00       Frt56881  periodo20    63.25
349769  2024-06-10 0:00       Frt34230  periodo22    77.92

[349770 rows x 4 columns]

In [23]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349770 entries, 0 to 349769
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Fecha           349770 non-null  object
 1   CodFronteraDDV  349770 non-null  object
 2   Periodo         349770 non-null  object
 3   Lectura         349770 non-null  float64
dtypes: float64(1), object(3)
memory usage: 10.7+ MB

In [24]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349770 entries, 0 to 349769
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Fecha           349770 non-null  object
 1   CodFronteraDDV  349770 non-null  object
 2   Periodo         349770 non-null  object
 3   Lectura         349770 non-null  float64
dtypes: float64(1), object(3)
memory usage: 10.7+ MB

In [25]:
# Concatenamos los dataframes reseteando indices
df_full = pd.concat([df_1, df_2], ignore_index=True)
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699540 entries, 0 to 699539
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Fecha           699540 non-null  object
 1   CodFronteraDDV  699540 non-null  object
 2   Periodo         699540 non-null  object
 3   Lectura         699540 non-null  float64
dtypes: float64(1), object(3)
memory usage: 21.3+ MB

In [26]:
df_full

                  Fecha CodFronteraDDV    Periodo  Lectura
0       2024-06-01 0:00       Frt34219  periodo01    45.28
1       2024-06-01 0:00       Frt34219  periodo02    51.55
2       2024-06-01 0:00       Frt34219  periodo03    44.51
3       2024-06-01 0:00       Frt34219  periodo04    51.21
4       2024-06-01 0:00       Frt34219  periodo05    48.21
...                 ...            ...        ...      ...
699535  2024-06-17 0:00       Frt43098  periodo06   335.82
699536  2024-06-16 0:00       Frt33571  periodo16    26.83
699537  2024-06-22 0:00       Frt31382  periodo01   119.09
699538  2024-06-06 0:00       Frt56881  periodo20    63.25
699539  2024-06-10 0:00       Frt34230  periodo22    77.92

[699540 rows x 4 columns]

In [27]:
df_full.describe()

             Lectura
count  699540.000000
mean      821.229725
std      5160.593253
min         0.000000
25%        37.730000
50%        83.920000
75%       267.960000
max    158277.340000

In [28]:
# # Convertimos a datetime la columna "Fecha"
# df_full['Fecha'] = pd.to_datetime(df_full['Fecha'])
# df_full

In [29]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699540 entries, 0 to 699539
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Fecha           699540 non-null  object
 1   CodFronteraDDV  699540 non-null  object
 2   Periodo         699540 non-null  object
 3   Lectura         699540 non-null  float64
dtypes: float64(1), object(3)
memory usage: 21.3+ MB

In [30]:
df_full['Periodo'].nunique()

24

In [31]:
# Cargamos el CSV de mapeos para poder emparejar cada frontera con su valor LBC
df_mapeo = pd.read_csv('../data/exercise_2/raw/Mapeo.csv')
df_mapeo

            Fecha AGENTE CodFronteraDDV  ValorLBC
0      2024-06-01   SXMC       Frt34219   1731.00
1      2024-06-01   XEMC       Frt55670     86.29
2      2024-06-01   XEMC       Frt55700     49.16
3      2024-06-01   XEMC       Frt55666    104.95
4      2024-06-01   XEMC       Frt55672     84.76
...           ...    ...            ...       ...
29539  2024-06-06   XEMC       Frt45156   1732.47
29540  2024-06-12   XEMC       Frt54698    603.23
29541  2024-06-09   SXMC       Frt32274   3059.00
29542  2024-06-02   SXMC       Frt56473      0.00
29543  2024-06-23   SXMC       Frt43506  38153.00

[29544 rows x 4 columns]

In [32]:
# Leemos también el de Ofertas
df_ofertas = pd.read_csv('../data/exercise_2/raw/Ofertas.csv')
df_ofertas

,Fecha,AGENTE,OFERTA,OFERTAACEPTADA,PRECIO,RD_Oferta,CodFronteraDDV
0,2024-06-01,XEMC,OFERTA-001,1,400,328720.0,Frt56438
1,2024-06-01,XEMC,OFERTA-002,1,400,36450.0,Frt56444
2,2024-06-01,XEMC,OFERTA-003,1,400,11000.0,Frt50659
3,2024-06-01,XEMC,OFERTA-004,1,400,1000.0,Frt50732
4,2024-06-01,XEMC,OFERTA-005,1,440,0.0,Frt45524
...,...,...,...,...,...,...,...
11321,2024-06-11,AXLC,OFERTA-003,1,780,60411.0,Frt55936
11322,2024-06-12,XEMC,OFERTA-031,1,600,0.0,Frt54278
11323,2024-06-20,SINC,OFERTA-056,1,750,0.0,Frt37490
11324,2024-06-02,XEMC,OFERTA-062,1,260,2190.0,Frt55787
11325,2024-06-16,XEMC,OFERTA-084,1,500,0.0,Frt55784

## Calcular CE

In [ ]:
# CE es la suma de las lecturas de todos los periodos por día y frontera para Lecturas_parte1.csv
ce_diario = df_1.groupby(['Fecha', 'CodFronteraDDV'])['Lectura'].sum().reset_index()
ce_diario.rename(columns={'Lectura': 'CE'}, inplace=True)

In [42]:
ce_diario

                 Fecha CodFronteraDDV         CE
0      2024-06-01 0:00       Frt29409   61719.49
1      2024-06-01 0:00       Frt29410    9054.90
2      2024-06-01 0:00       Frt29411  729466.37
3      2024-06-01 0:00       Frt29421   46889.76
4      2024-06-01 0:00       Frt29464  121391.61
...                ...            ...        ...
14182  2024-06-16 0:00       Frt55965   17742.75
14183  2024-06-16 0:00       Frt56438  716228.86
14184  2024-06-16 0:00       Frt56444    4442.27
14185  2024-06-16 0:00       Frt56473    5211.74
14186  2024-06-16 0:00       Frt56559  471641.54

[14187 rows x 3 columns]

In [44]:
df_full

                  Fecha CodFronteraDDV    Periodo  Lectura
0       2024-06-01 0:00       Frt34219  periodo01    45.28
1       2024-06-01 0:00       Frt34219  periodo02    51.55
2       2024-06-01 0:00       Frt34219  periodo03    44.51
3       2024-06-01 0:00       Frt34219  periodo04    51.21
4       2024-06-01 0:00       Frt34219  periodo05    48.21
...                 ...            ...        ...      ...
699535  2024-06-17 0:00       Frt43098  periodo06   335.82
699536  2024-06-16 0:00       Frt33571  periodo16    26.83
699537  2024-06-22 0:00       Frt31382  periodo01   119.09
699538  2024-06-06 0:00       Frt56881  periodo20    63.25
699539  2024-06-10 0:00       Frt34230  periodo22    77.92

[699540 rows x 4 columns]

In [45]:
df_mapeo

            Fecha AGENTE CodFronteraDDV  ValorLBC
0      2024-06-01   SXMC       Frt34219   1731.00
1      2024-06-01   XEMC       Frt55670     86.29
2      2024-06-01   XEMC       Frt55700     49.16
3      2024-06-01   XEMC       Frt55666    104.95
4      2024-06-01   XEMC       Frt55672     84.76
...           ...    ...            ...       ...
29539  2024-06-06   XEMC       Frt45156   1732.47
29540  2024-06-12   XEMC       Frt54698    603.23
29541  2024-06-09   SXMC       Frt32274   3059.00
29542  2024-06-02   SXMC       Frt56473      0.00
29543  2024-06-23   SXMC       Frt43506  38153.00

[29544 rows x 4 columns]

In [46]:
# Unimos df_full con df_mapeo usando CodFronteraDDV (y Fecha si aplica)
df_post = pd.merge(df_full, df_mapeo[['Fecha', 'CodFronteraDDV', 'ValorLBC']], 
                   on=['Fecha', 'CodFronteraDDV'], how='left')

# Ahora df_post tiene la columna ValorLBC correspondiente a cada CodFronteraDDV
df_post.head()

             Fecha CodFronteraDDV    Periodo  Lectura  ValorLBC
0  2024-06-01 0:00       Frt34219  periodo01    45.28       NaN
1  2024-06-01 0:00       Frt34219  periodo02    51.55       NaN
2  2024-06-01 0:00       Frt34219  periodo03    44.51       NaN
3  2024-06-01 0:00       Frt34219  periodo04    51.21       NaN
4  2024-06-01 0:00       Frt34219  periodo05    48.21       NaN

dsgdfg

In [35]:
# Unir con Mapeo para obtener LBC (Línea Base de Consumo)
datos_completos = pd.merge(ce_diario, df_mapeo, on=['Fecha', 'CodFronteraDDV'], how='left')
datos_completos.head()

             Fecha CodFronteraDDV         CE AGENTE  ValorLBC
0  2024-06-01 0:00       Frt29409   61719.49    NaN       NaN
1  2024-06-01 0:00       Frt29410    9054.90    NaN       NaN
2  2024-06-01 0:00       Frt29411  729466.37    NaN       NaN
3  2024-06-01 0:00       Frt29421   46889.76    NaN       NaN
4  2024-06-01 0:00       Frt29464  121391.61    NaN       NaN

In [36]:
# Calculamos la desconexión verificada
# Desconexión = MAX(0, LBC - CE)
datos_completos['Desconexion_Verificada'] = datos_completos.apply(
    lambda row: max(0, row['ValorLBC'] - row['CE']), axis=1
)

datos_completos.head(10)

,Fecha,CodFronteraDDV,CE,AGENTE,ValorLBC,Desconexion_Verificada
0,2024-06-01 0:00,Frt29409,61719.49,NaN,NaN,0
1,2024-06-01 0:00,Frt29410,9054.90,NaN,NaN,0
2,2024-06-01 0:00,Frt29411,729466.37,NaN,NaN,0
3,2024-06-01 0:00,Frt29421,46889.76,NaN,NaN,0
4,2024-06-01 0:00,Frt29464,121391.61,NaN,NaN,0
5,2024-06-01 0:00,Frt29514,27562.95,NaN,NaN,0
6,2024-06-01 0:00,Frt29693,36287.26,NaN,NaN,0
7,2024-06-01 0:00,Frt29694,44113.73,NaN,NaN,0
8,2024-06-01 0:00,Frt29842,15575.35,NaN,NaN,0
9,2024-06-01 0:00,Frt30189,2065.04,NaN,NaN,0

In [38]:
# Agrupamos por Agente para obtener totales mensuales
# Extraer mes de la fecha
datos_completos['Fecha_dt'] = pd.to_datetime(datos_completos['Fecha'])
datos_completos['Anio_Mes'] = datos_completos['Fecha_dt'].dt.to_period('M')

# Agrupar por mes y agente
resultado_final = datos_completos.groupby(['Anio_Mes', 'AGENTE']).agg(
    Desconexion_Verificada_kWh=('Desconexion_Verificada', 'sum'),
    Total_Fronteras=('CodFronteraDDV', 'nunique')
).reset_index()

In [39]:
resultado_final['Fecha'] = resultado_final['Anio_Mes'].astype(str)
resultado_final = resultado_final[['Fecha', 'AGENTE', 'Desconexion_Verificada_kWh', 'Total_Fronteras']]

# Ordenar por código de agente
resultado_final = resultado_final.sort_values('AGENTE')

In [40]:
resultado_final

Empty DataFrame
Columns: [Fecha, AGENTE, Desconexion_Verificada_kWh, Total_Fronteras]
Index: []