In [1]:
import pandas as pd

In [2]:
# Abrimos los CSV
df_1 = pd.read_csv('../data/exercise_2/raw/Lecturas_parte1.csv')
df_2 = pd.read_csv('../data/exercise_2/raw/Lecturas_parte2.csv')

In [3]:
df_1

                  Fecha CodFronteraDDV    Periodo  Lectura
0       2024-06-01 0:00       Frt34219  periodo01    45.28
1       2024-06-01 0:00       Frt34219  periodo02    51.55
2       2024-06-01 0:00       Frt34219  periodo03    44.51
3       2024-06-01 0:00       Frt34219  periodo04    51.21
4       2024-06-01 0:00       Frt34219  periodo05    48.21
...                 ...            ...        ...      ...
349765  2024-06-16 0:00       Frt31074  periodo14   101.19
349766  2024-06-16 0:00       Frt31074  periodo15   104.39
349767  2024-06-16 0:00       Frt31074  periodo16   100.32
349768  2024-06-16 0:00       Frt31074  periodo17   103.07
349769  2024-06-16 0:00       Frt31074  periodo18   100.86

[349770 rows x 4 columns]

In [4]:
df_2

                  Fecha CodFronteraDDV    Periodo  Lectura
0       2024-06-16 0:00       Frt31074  periodo19   105.35
1       2024-06-16 0:00       Frt31074  periodo20   103.04
2       2024-06-16 0:00       Frt31074  periodo21    92.79
3       2024-06-16 0:00       Frt31074  periodo22    70.55
4       2024-06-16 0:00       Frt31074  periodo23    67.10
...                 ...            ...        ...      ...
349765  2024-06-17 0:00       Frt43098  periodo06   335.82
349766  2024-06-16 0:00       Frt33571  periodo16    26.83
349767  2024-06-22 0:00       Frt31382  periodo01   119.09
349768  2024-06-06 0:00       Frt56881  periodo20    63.25
349769  2024-06-10 0:00       Frt34230  periodo22    77.92

[349770 rows x 4 columns]

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349770 entries, 0 to 349769
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Fecha           349770 non-null  object
 1   CodFronteraDDV  349770 non-null  object
 2   Periodo         349770 non-null  object
 3   Lectura         349770 non-null  float64
dtypes: float64(1), object(3)
memory usage: 10.7+ MB

In [6]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349770 entries, 0 to 349769
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Fecha           349770 non-null  object
 1   CodFronteraDDV  349770 non-null  object
 2   Periodo         349770 non-null  object
 3   Lectura         349770 non-null  float64
dtypes: float64(1), object(3)
memory usage: 10.7+ MB

In [7]:
# Concatenamos los dataframes reseteando indices
df_full = pd.concat([df_1, df_2], ignore_index=True)
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699540 entries, 0 to 699539
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Fecha           699540 non-null  object
 1   CodFronteraDDV  699540 non-null  object
 2   Periodo         699540 non-null  object
 3   Lectura         699540 non-null  float64
dtypes: float64(1), object(3)
memory usage: 21.3+ MB

In [8]:
# Converimops 'FECHA' a tipo datetime
df_full['Fecha'] = pd.to_datetime(df_full['Fecha'])

In [9]:
df_full

            Fecha CodFronteraDDV    Periodo  Lectura
0      2024-06-01       Frt34219  periodo01    45.28
1      2024-06-01       Frt34219  periodo02    51.55
2      2024-06-01       Frt34219  periodo03    44.51
3      2024-06-01       Frt34219  periodo04    51.21
4      2024-06-01       Frt34219  periodo05    48.21
...           ...            ...        ...      ...
699535 2024-06-17       Frt43098  periodo06   335.82
699536 2024-06-16       Frt33571  periodo16    26.83
699537 2024-06-22       Frt31382  periodo01   119.09
699538 2024-06-06       Frt56881  periodo20    63.25
699539 2024-06-10       Frt34230  periodo22    77.92

[699540 rows x 4 columns]

In [12]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699540 entries, 0 to 699539
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Fecha           699540 non-null  datetime64[ns]
 1   CodFronteraDDV  699540 non-null  object
 2   Periodo         699540 non-null  object
 3   Lectura         699540 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 21.3+ MB

In [13]:
df_full['Periodo'].nunique()

24

In [14]:
# Cargamos el CSV de mapeos para poder emparejar cada frontera con su valor LBC
df_mapeo = pd.read_csv('../data/exercise_2/raw/Mapeo.csv')
# Convetimos su columna 'FECHA' a datetime
df_mapeo['Fecha'] = pd.to_datetime(df_mapeo['Fecha'])
df_mapeo

           Fecha AGENTE CodFronteraDDV  ValorLBC
0     2024-06-01   SXMC       Frt34219   1731.00
1     2024-06-01   XEMC       Frt55670     86.29
2     2024-06-01   XEMC       Frt55700     49.16
3     2024-06-01   XEMC       Frt55666    104.95
4     2024-06-01   XEMC       Frt55672     84.76
...          ...    ...            ...       ...
29539 2024-06-06   XEMC       Frt45156   1732.47
29540 2024-06-12   XEMC       Frt54698    603.23
29541 2024-06-09   SXMC       Frt32274   3059.00
29542 2024-06-02   SXMC       Frt56473      0.00
29543 2024-06-23   SXMC       Frt43506  38153.00

[29544 rows x 4 columns]

In [15]:
# Leemos también el de Ofertas
df_ofertas = pd.read_csv('../data/exercise_2/raw/Ofertas.csv')
df_ofertas

,Fecha,AGENTE,OFERTA,OFERTAACEPTADA,PRECIO,RD_Oferta,CodFronteraDDV
0,2024-06-01,XEMC,OFERTA-001,1,400,328720.0,Frt56438
1,2024-06-01,XEMC,OFERTA-002,1,400,36450.0,Frt56444
2,2024-06-01,XEMC,OFERTA-003,1,400,11000.0,Frt50659
3,2024-06-01,XEMC,OFERTA-004,1,400,1000.0,Frt50732
4,2024-06-01,XEMC,OFERTA-005,1,440,0.0,Frt45524
...,...,...,...,...,...,...,...
11321,2024-06-11,AXLC,OFERTA-003,1,780,60411.0,Frt55936
11322,2024-06-12,XEMC,OFERTA-031,1,600,0.0,Frt54278
11323,2024-06-20,SINC,OFERTA-056,1,750,0.0,Frt37490
11324,2024-06-02,XEMC,OFERTA-062,1,260,2190.0,Frt55787
11325,2024-06-16,XEMC,OFERTA-084,1,500,0.0,Frt55784

## Calcular CE

In [16]:
# CE es la suma de las lecturas de todos los periodos por día y frontera para Lecturas_parte1.csv
ce_diario = df_1.groupby(['Fecha', 'CodFronteraDDV'])['Lectura'].sum().reset_index()
ce_diario.rename(columns={'Lectura': 'CE'}, inplace=True)

In [17]:
ce_diario

                 Fecha CodFronteraDDV         CE
0      2024-06-01 0:00       Frt29409   61719.49
1      2024-06-01 0:00       Frt29410    9054.90
2      2024-06-01 0:00       Frt29411  729466.37
3      2024-06-01 0:00       Frt29421   46889.76
4      2024-06-01 0:00       Frt29464  121391.61
...                ...            ...        ...
14182  2024-06-16 0:00       Frt55965   17742.75
14183  2024-06-16 0:00       Frt56438  716228.86
14184  2024-06-16 0:00       Frt56444    4442.27
14185  2024-06-16 0:00       Frt56473    5211.74
14186  2024-06-16 0:00       Frt56559  471641.54

[14187 rows x 3 columns]

In [18]:
df_full

            Fecha CodFronteraDDV    Periodo  Lectura
0      2024-06-01       Frt34219  periodo01    45.28
1      2024-06-01       Frt34219  periodo02    51.55
2      2024-06-01       Frt34219  periodo03    44.51
3      2024-06-01       Frt34219  periodo04    51.21
4      2024-06-01       Frt34219  periodo05    48.21
...           ...            ...        ...      ...
699535 2024-06-17       Frt43098  periodo06   335.82
699536 2024-06-16       Frt33571  periodo16    26.83
699537 2024-06-22       Frt31382  periodo01   119.09
699538 2024-06-06       Frt56881  periodo20    63.25
699539 2024-06-10       Frt34230  periodo22    77.92

[699540 rows x 4 columns]

In [19]:
df_mapeo

           Fecha AGENTE CodFronteraDDV  ValorLBC
0     2024-06-01   SXMC       Frt34219   1731.00
1     2024-06-01   XEMC       Frt55670     86.29
2     2024-06-01   XEMC       Frt55700     49.16
3     2024-06-01   XEMC       Frt55666    104.95
4     2024-06-01   XEMC       Frt55672     84.76
...          ...    ...            ...       ...
29539 2024-06-06   XEMC       Frt45156   1732.47
29540 2024-06-12   XEMC       Frt54698    603.23
29541 2024-06-09   SXMC       Frt32274   3059.00
29542 2024-06-02   SXMC       Frt56473      0.00
29543 2024-06-23   SXMC       Frt43506  38153.00

[29544 rows x 4 columns]

In [ ]:
# Unimos df_full con df_mapeo usando CodFronteraDDV (y Fecha si aplica)
df_post = pd.merge(df_full, df_mapeo[['Fecha', 'CodFronteraDDV', 'ValorLBC']], 
                   on=['CodFronteraDDV'], how='inner')

# Ahora df_post tiene la columna ValorLBC correspondiente a cada CodFronteraDDV
df_post.head()

     Fecha_x CodFronteraDDV    Periodo  Lectura    Fecha_y  ValorLBC
0 2024-06-01       Frt34219  periodo01    45.28 2024-06-01    1731.0
1 2024-06-01       Frt34219  periodo01    45.28 2024-06-02    1556.0
2 2024-06-01       Frt34219  periodo01    45.28 2024-06-03    1483.0
3 2024-06-01       Frt34219  periodo01    45.28 2024-06-04    1640.0
4 2024-06-01       Frt34219  periodo01    45.28 2024-06-05    1640.0

In [ ]:
df_post

In [21]:
df_ofertas

,Fecha,AGENTE,OFERTA,OFERTAACEPTADA,PRECIO,RD_Oferta,CodFronteraDDV
0,2024-06-01,XEMC,OFERTA-001,1,400,328720.0,Frt56438
1,2024-06-01,XEMC,OFERTA-002,1,400,36450.0,Frt56444
2,2024-06-01,XEMC,OFERTA-003,1,400,11000.0,Frt50659
3,2024-06-01,XEMC,OFERTA-004,1,400,1000.0,Frt50732
4,2024-06-01,XEMC,OFERTA-005,1,440,0.0,Frt45524
...,...,...,...,...,...,...,...
11321,2024-06-11,AXLC,OFERTA-003,1,780,60411.0,Frt55936
11322,2024-06-12,XEMC,OFERTA-031,1,600,0.0,Frt54278
11323,2024-06-20,SINC,OFERTA-056,1,750,0.0,Frt37490
11324,2024-06-02,XEMC,OFERTA-062,1,260,2190.0,Frt55787
11325,2024-06-16,XEMC,OFERTA-084,1,500,0.0,Frt55784

dsgdfg